@using OrchardCore.ContentManagement
@using OrchardCore.GreenHouse.Models
@{
    ContentItem contentItem = Model.ContentItem;

    var employeePart = contentItem.As<EmployeePart>();
    var CarPart = contentItem.As<CarPart>();
}

<tr>
    <td>
        @contentItem.DisplayText
        <strong>Content-employeePart.summary displayText </strong>
        @CarPart.CarType
    </td>

    <td>
        <div class="email">
            @employeePart.Email
        </div>
        <div>
            @employeePart.FirstName @employeePart.LastName
        </div>
        <strong>Content-employeePart.summary.cshtml</strong>
    </td>
</tr>

<style scoped>
    .email {
        background-color: lightgray;
    }
</style>