@model EmployeePartViewModel
@using OrchardCore.GreenHouse.ViewModels

<div class="text-red">

    <div>@T["FirstName: {0}", Model.FirstName]</div>
    <div>@T["LastName: {0}", Model.LastName]</div>
    <div>@T["Email: {0}", Model.Email]</div>
    <div>@T["Phone: {0}", Model.Phone]</div>
    <div>@T["Address: {0}", Model.Address]</div>
    <div>@T["City: {0}", Model.City]</div>
    <div>@T["State: {0}", Model.State]</div>
    <div>@T["Zip: {0}", Model.Zip]</div>
    <div>@T["Country: {0}", Model.Country]</div>


</div>
