@model OrchardCore.GreenHouse.ViewModels.FlowerPartViewModel
@using OrchardCore.GreenHouse.ViewModels


<p>Flower</p>

@* <div>@T["Scientific Name: {0}", Model.ScientificName]</div> *@
@* <div>@T["Common Name: {0}", Model.CommonName]</div> *@

@if (!string.IsNullOrWhiteSpace(Model.SunlightType))
{
    <div class="badge bg-info">@T["SunLight Status:"] @Model.SunlightType</div>
}
@* <div>@T["SunlightType: {0}", Model.SunlightType]</div>
<div>@T["Flower Type: {0}", Model.FlowerType]</div> *@
<div>@T["Petals: {0}", Model.Petals]</div>
@* <div>@T["StemType: {0}", Model.StemType]</div>
<div>@T["RootType: {0}", Model.RootType]</div>
<div>@T["SoilType: {0}", Model.SoilType]</div>
<div>@T["WaterType: {0}", Model.WaterType]</div>
<div>@T["HumidityType: {0}", Model.HumidityType]</div> *@
@* <div>@T["TemperatureType: {0}", Model.TemperatureType]</div> *@
@* <div>@T["FertilizerType: {0}", Model.FertilizerType]</div> *@
@* <div>@T["PesticideType: {0}", Model.PesticideType]</div>
<div>@T["DiseaseType: {0}", Model.DiseaseType]</div>
<div>@T["PestType: {0}", Model.PestType]</div> *@