@using OrchardCore.GreenHouse.ViewModels
@model VegetablePartViewModel
@* @model FertilizerTeaPartViewModel *@

@* <img src="https://th.bing.com/th/id/R.601dcf2e4f52aeda06426c2ff3c37c98?rik=yqqwScstbZwnKQ&pid=ImgRaw&r=0" class="img-fluid" /> *@
<div class="text-white">
    <div class="mt-2">@T["Scientific Name: {0}", Model.ScientificName]</div>
    <div class="mt-2">@T["Common Name: {0}", Model.CommonName]</div>
    <div class="mt-2">@T["SunlightType: {0}", Model.SunlightType]</div>
    <div class="mt-2">@T["Fruit Type: {0}", Model.FruitType]</div>
    <div>@T["LeafType: {0}", Model.LeafType]</div>
    <div>@T["StemType: {0}", Model.StemType]</div>
    <div>@T["RootType: {0}", Model.RootType]</div>
    <div>@T["SoilType: {0}", Model.SoilType]</div>
    <div>@T["WaterType: {0}", Model.WaterType]</div>
    <div>@T["HumidityType: {0}", Model.HumidityType]</div>
    <div>@T["TemperatureType: {0}", Model.TemperatureType]</div>
    <div>@T["FertilizerType: {0}", Model.FertilizerType]</div>
    <div>@T["PesticideType: {0}", Model.PesticideType]</div>
    <div>@T["DiseaseType: {0}", Model.DiseaseType]</div>
    <div>@T["PestType: {0}", Model.PestType]</div>

    @*     <div class="mt-2">@T["Grow Type: {0}", Model.GrowType]</div>

    <div>@T["Fertilizer Tea Type: {0}", Model.FertilizerTeaType]</div> *@
</div>